[Unit]
Description=pmd privsepd
PartOf=pmd.service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/pmdprivsepd
Restart=no

[Install]
WantedBy=multi-user.target
